DATABASE_URL="postgresql://postgres:password@localhost:5432/freefire_ban_pick?schema=public"
PORT=4000
SQLITE_STORAGE="database.sqlite"
JWT_SECRET="this-very-strong-ok-you-cant-hack-1238712safb@&&aa1"