PORT=4000
SQLITE_STORAGE="database.sqlite"
JWT_SECRET="this-very-strong-ok-you-cant-hack-1238712safb@&&aa1"

# PROJECT CONFIG
## --- REDIS CONFIG ---
ENABLE_REDIS_DATABASE=0 # Sử dụng Redis để lưu trữ dữ liệu tạm thời như danh sách cấm chọn, hay không. Nếu false thì sẽ lưu trữ tạm thời trong bộ nhớ của ứng dụng, mặc định sử dụng Map để lưu trữ trong Memory
REDIS_HOST=
REDIS_PORT=